tr {
	height: 150px;
}
th {
	border: 1px solid black;
	min-width: 70px;
	text-align: left;
}	

.table-header {
	height: 40px;
	text-align: center;
}

td {
	border: 1px solid black;
}

.wide {
	width: 300px;
}

 /* Place your CSS Rules below */
.top {
    vertical-align:top;
}

.middle {
    vertical-align:middle;
}

.bottom {
    vertical-align:bottom;
}
